@import "breakpoints.css";
@import "mixins.css";

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/* Custom variables */
:root {
  --color-accent-1: #ED9A63;
  --color-accent-2: #ec9d6a;
  --color-accent-3: #e6a073;
  --color-accent-soft: #e1a681;

  --color-text-always-light-1: rgba(255, 255, 245, 0.86);
  --color-text-always-light-2: rgba(255, 255, 245, 0.6);
  --color-text-always-light-3: rgba(255, 255, 245, 0.38);

  --color-text-always-dark-1: rgba(60, 60, 67);
  --color-text-always-dark-2: rgba(60, 60, 67, 0.78);
  --color-text-always-dark-3: rgba(60, 60, 67, 0.56);

  --content-width: 688px;
}


/* Overrides */
:root {
  --vp-c-brand-1: var(--color-accent-1);
  --vp-c-brand-2: var(--color-accent-2);
  --vp-c-brand-3: var(--color-accent-3);
  --vp-c-brand-soft: var(--color-accent-soft);

  --vp-nav-logo-height: 2.75rem;

  --vp-nav-bg-color: #151a42;
}

/**
 * Component: Nav
 * -------------------------------------------------------------------------- */

.VPNavBar {
  @mixin text-color-light;

  --vp-c-divider: var(--vp-c-text-3);
  --vp-c-border: #3c3f44;
  --vp-input-border-color: var(--vp-c-border);

  background-color: var(--vp-nav-bg-color) !important;

  & > .wrapper > .container {
    & > .title {
      position: static;
      padding-right: 0 !important;
      width: unset !important;

      & .title {
        border-bottom: 0 !important;
      }
    }

    & > .content {
      padding-left: 0 !important;
    }
  }

  .divider {
    padding-left: 0 !important
  }

  .logo {
    margin-right: 1rem;
  }

  .VPNavBarSearch {
    --vp-c-divider: #e2e2e3;

    .dark & {
      --vp-c-divider: #2e2e32;
    }

    @media (min-width: var(--breakpoint-md)) {
      @mixin restore-default-text-color;
    }
  }

  .VPNavBarMenuGroup,
  .VPNavBarExtra {
    & > .menu {
      @mixin restore-default-text-color;
    }
  }
}


/**
 * Component: VPSidebar
 * -------------------------------------------------------------------------- */

.VPSidebar {
  .VPSidebarItem {
    &.level-1 {
      padding-left: 1rem;

      &.is-active > .item > .indicator {
        background-color: var(--vp-c-brand-1);
      }
    }
  }
}
